	<p>
	{% if showPali %}
	    <span style="display: block;font-size:Larger">
	    <a name="sent{{ sentence.sentenceid }}"></a> 
	    {{ sentence.sentencetext }}
	    </span>
    {% endif %}
    {% if sources|length>0 %}
        {% for source in sources %}
        	<span style="display: block;">
            {% set translation=translations|filter(t=>t.sentenceid==sentence.sentenceid and t.sourceid==source.sourceid)|first %}
            {% if translation %}
            <span id="et{{ translation.sentencetranslationid }}">{{ source.hasformatting ? translation.translation|raw : translation.translation  }}</span>
            {% else %}
            {% endif %}
        </span>
        {% endfor %}
    {% endif %}
    {% if showComments %}
		<span style="display: block;font-size: small">
		{% if sentence.commentcount>0 %}
		    {{ sentence.lastcomment }}<br>
			<a href="{{ urlfull ? (urlfull~ '/s/' ~ sentence.sentenceid) : path('comments',{sentenceid: sentence.sentenceid,return: 'node'}) }}">{% trans %}All comments{% endtrans %} ({{ sentence.commentcount }})</a>
		{% else %}
		    {% if is_granted(userRole) %}
				<a href="{{ urlfull ? (urlfull~ '/s/' ~ sentence.sentenceid) : path('comments',{sentenceid: sentence.sentenceid,return: 'node'}) }}">{% trans %}Add new comment{% endtrans %}</a>
			{% endif %}
		{% endif %}
		</span>
	{% endif %}          
</p>