<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% if app.request.cookies.get('mobile')=="1" %}
	        <meta name="viewport" content="width=device-width, initial-scale=1">
		{% endif %}
        {% block meta %}
        {% endblock %}
    	<title>{% block title %}{% endblock %}</title>
        <link href="{{ asset('styles.css?version=3') }}" rel="stylesheet"/>
        <link href="{{ asset('favicon.png') }}" rel="shortcut icon"/>     
        {% block stylesheets %}
        {% endblock %}
        {{ include('_counters.html.twig') }}
    </head>
    <body>
        {% block navigation %}
        {% if app.request.cookies.get('mobile')=="1" %}
        	{{ include('_navigation_mobile.html.twig') }}
        {% else %}
        	{{ include('_navigation.html.twig') }}
        {% endif %}
        {% endblock %}
        {% block content %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% block statistics %}
            {% if not app.user %}
            <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
            <script type="text/javascript" src="{{ asset('statistics.js') }}"></script>
            <script id="statservice" type="application/json">{"url":"{{ asset('') }}"}</script>                 
            {% endif %}
        {% endblock %}
    </body>
</html>
