{% extends 'base.html.twig' %}
{% set page='toc' %}
{% block title %}
{% if collections|length==1 %}
{{ (collections|first).name }}
{% else %}
{% trans %}Collections{% endtrans %}
{% endif %}
{% endblock %}
{% block content %}
{% set tocPage='collections' %}
{{ include('_toc_navigation.html.twig') }}
{% if collections is defined and collections[0].notes is defined%}
{{ collections[0].notes|raw }}
{% endif %}
{% if form is defined %}
{{ form_start(form,{'attr' : {'style' : 'display: inline'}}) }}
<table>
<tr>
<td colspan="2">
<b>{% trans %}Print view{% endtrans %}</b>
</td>
</tr>
<tr><td colspan="2">
{{ form_widget(form.shownav) }}<small>{{ form_label(form.shownav, 'ShowNav') }}</small></td>
</tr>
<tr><td colspan="2">
{{ form_widget(form.rendermode[0]) }}<small>{{ form_label(form.rendermode[0], 'display print view') }}</small><br>
{{ form_widget(form.rendermode[1]) }}<small>{{ form_label(form.rendermode[1], 'download print view') }}</small><br>
</td>
</tr>
<tr><td>
{{ form_widget(form.table,{'label': 'PrintViewTable','attr' : {'style' : 'font-size:12px'}}) }}</td>
<td><small>{% trans %}PrintViewTableDesc{% endtrans %}</small></td>
</tr>
<tr><td>
{{ form_widget(form.paper,{'label': 'PrintViewPaper','attr' : {'style' : 'font-size:12px'}}) }}</td>
<td><small>{% trans %}PrintViewPaperDesc{% endtrans %}</small></td>
</tr>
<tr><td>
{{ form_widget(form.translation,{'label': 'PrintViewTranslation','attr' : {'style' : 'font-size:12px'}}) }}</td>
<td><small>{% trans %}PrintViewTranslationDesc{% endtrans %}</small></td>
</tr>
</table>
{{ form_end(form) }}
{% endif %}

{% if is_granted(authorRole) %}   
<a href="{{ path('collection_item_edit') }}">{% trans %}New collection{% endtrans %}</a>
{% endif %} 
<div><a href="{{ path('collections_list') }}">{% trans %}Top{% endtrans %}</a></div>
<ul style="margin-top:0px">
{% for collection in collections %}
<li><a href="{{ path('collection_view',{itemid: collection.collectionitemid}) }}">{{ collection.name }}</a>
{% if is_granted(authorRole) %}   
<a href="{{ path('collection_item_edit',{itemid: collection.collectionitemid}) }}">({% trans %}Edit{% endtrans %})</a>	
<a href="{{ path('collection_item_names',{itemid: collection.collectionitemid}) }}">({% trans %}Edit names{% endtrans %})</a>
<a href="{{ path('collection_item_edit',{parentid: collection.collectionitemid,folder: 1}) }}">({% trans %}Add folder{% endtrans %})</a>
<a href="{{ path('collection_item_edit',{parentid: collection.collectionitemid}) }}">({% trans %}Add item{% endtrans %})</a>
{% endif %} 

	{% for item in collectionItems|filter(ci=>ci.parentid==collection.collectionitemid) %}
		<div style="padding-left:{{ item.level*20 }}px">
			{% if item.nodeid %}
		        {% if item.HasTableView %}
		            {% set route=item.TranslationSourceID ? 'translation_view' : (item.HasTableView ? 'table_view' : 'view_node') %}		            
		            <a href="{{ path(route, {id: item.nodeid}) }}">{{ item.colItemName ?? (item.nodeName ?? item.title) }}</a>
		        {% else %}
		        	<a href="{{ path('view_node', {id: item.nodeid}) }}">{{ item.colItemName ?? (item.nodeName ?? item.title) }}</a>
		        {% endif %}
			{% else %} 
				{{ item.colItemName }}
			{% endif %}
			{% if is_granted(authorRole) %}   
			{{ item.vieworder }}
			<a href="{{ path('collection_item_edit',{itemid: item.collectionitemid}) }}">({% trans %}Edit{% endtrans %})</a>
			<a href="{{ path('collection_item_names',{itemid: item.collectionitemid}) }}">({% trans %}Edit names{% endtrans %})</a>	
			{% endif %} 
		</div>
	{% endfor %}
</li>
{% endfor %}
</ul>
{% endblock %}