<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>{{ collection.name }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="robots" content="noindex,nofollow" />
		{% block stylesheets %}{% endblock %}
    </head>
    <body style="font-family:Tahoma,Verdana,Liberation Sans">
		<a name="top"></a>
		<h1 style="text-align: center;">{{ collection.name }}</h1>
		<p style="text-align: center;">{% trans %}Publisher{% endtrans %}</p>
		<p style="text-align: center;">{% trans %}Collection URL{% endtrans %} <a href="{{ url('collection_view',{collectionid: collection.collectionitemid}) }}">{{ url('collection_view',{collectionid: collection.collectionitemid}) }}</a></p>	
		<p style="text-align: center;">{% trans %}Retrieved{% endtrans %} {{ "now"|date("d.m.Y") }}</center></p>
        {% block content %}{% endblock %}
    </body>
</html>
