<!DOCTYPE html>
<html>
    <head>
        <title>{{ collection.name }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="robots" content="noindex,nofollow" />
		{% block stylesheets %}{% endblock %}
		<style>
div.mpdf_toc_level_3 {
    margin-left: 6em;
    text-indent: -2em;
}

div.mpdf_toc_level_4 {
    margin-left: 8em;
    text-indent: -2em;
}

div.mpdf_toc_level_5 {
    margin-left: 10em;
    text-indent: -2em;
}
</style>
    </head>
    <body style="font-family:Tahoma,Verdana,Liberation Sans">
		<a name="top"></a>
		<h1 style="text-align: center;">{{ collection.name }}</h1>
		<p style="text-align: center;">{% trans %}Publisher{% endtrans %}</p>
		<p style="text-align: center;">{% trans %}Collection URL{% endtrans %} <a href="{{ url('collection_view',{collectionid: collection.collectionitemid}) }}">{{ url('collection_view',{collectionid: collection.collectionitemid}) }}</a></p>	
		<p style="text-align: center;">{% trans %}Retrieved{% endtrans %} {{ "now"|date("d.m.Y") }}</center></p>
        {% block content %}{% endblock %}
    </body>
</html>
