{% extends 'collection_print.html.twig' %}
{% block stylesheets %}
<link href="{{ absolute_url(asset('styles.css')) }}" rel="stylesheet"/>
{% endblock %}
{% block content %}
{% if shownav %}
	{% for collectionItem in collectionItems %}
		{% if collectionItem.level>0 %}
			<div style="padding-left:{{collectionItem.level*20}}px">
		{% else %}
			<div>
		{% endif %} 
		{% if collectionItem.nodeid %}		
			<a href="#ch{{collectionItem.collectionitemid}}">{{ collectionItem.colItemName ?? (collectionItem.nodeName ?? collectionItem.title) }}</a>
		{% else %} 
			<a href="#ch{{collectionItem.collectionitemid}}">{{ collectionItem.colItemName }}</a>
		{% endif %}
		</div>
	{% endfor %}
{% endif %}		
	{% for collectionItem in collectionItems %}
		{% if collectionItem.nodeid %}		
			<h{{collectionItem.level}}>{{ collectionItem.colItemName ?? (collectionItem.nodeName ?? collectionItem.title) }} {% if shownav %}&nbsp;<a name="ch{{collectionItem.collectionitemid}}"></a><a href="#top">К началу</a>{% endif %}</h{{collectionItem.level}}>				
		{% else %} 
			<h{{collectionItem.level}} style="{{collectionItem.level==1 ? 'page-break-before: always;' : ''}}">{{ collectionItem.colItemName }}{% if shownav %}&nbsp;<a name="ch{{collectionItem.collectionitemid}}"></a><a href="#top">К началу</a>{% endif %}</h{{collectionItem.level}}>				
		{% endif %}
		{{ collectionItem.notes|raw }}
		<p></p>
		{% if collectionItem.nodeid %}	
			{% for paragraph in paragraphs|filter(p=>p.collectionitemid==collectionItem.collectionitemid) %}				
				{% for sentence in sentences|filter(s=>s.paragraphid==paragraph.paragraphid and s.collectionitemid==collectionItem.collectionitemid) %}
					{% set other=otherTranslations[collectionItem.nodeid] is empty ? [] : otherTranslations[collectionItem.nodeid]|filter(t=>t.sentenceid==sentence.sentenceid) %}	
					{% if other|length>0 %}				
						<p class="{{ paragraph.paragraphtype }}">
						{{ (other|first).translation }}
						</p>
					{% endif %}
				{% endfor %}
			{% endfor %}
		{% endif %}
		{{ collectionItem.notesBottom|raw }}
	{% endfor %}
{% endblock %}
