{% extends 'collection_print.html.twig' %}
{% block content %}
	{% for collectionItem in collectionItems %}
		{% if collectionItem.level>0 %}
			<div style="padding-left:{{collectionItem.level*20}}px">
		{% else %}
			<div>
		{% endif %} 
		{% if collectionItem.nodeid %}		
			<a href="#ch{{collectionItem.collectionitemid}}">{{ collectionItem.colItemName ?? (collectionItem.nodeName ?? collectionItem.title) }} - {{ collectionItem.altPaliName ?? collectionItem.title }}</a>
		{% else %} 
			<a href="#ch{{collectionItem.collectionitemid}}">{{ collectionItem.colItemName }}</a>
		{% endif %}
		</div>
	{% endfor %}
	<table border='1' style="width:100%">
		{% for collectionItem in collectionItems %}
			{% if loop.index0!=0 %}
				<tr class="tc_spacer"><td>&nbsp;</td><td>&nbsp;</td></tr>
			{%endif%}	
			<tr><td width="50%" class="tc_source">
			<b>{{ collectionItem.altPaliName ?? collectionItem.title }}</b>
			<a name="ch{{collectionItem.collectionitemid}}"></a>
			<a href="#top">К началу</a>
			</td>
			<td>
			{% if collectionItem.nodeid %}		
				<b>{{ collectionItem.colItemName ?? (collectionItem.nodeName ?? collectionItem.title) }}</b>
			{% else %} 
				<h{{collectionItem.level+1}}>{{ collectionItem.colItemName }}</h{{collectionItem.level+1}}>
			{% endif %}
			</td>
			</tr>
			{% if collectionItem.nodeid %}	
				{% for paragraph in paragraphs|filter(p=>p.collectionitemid==collectionItem.collectionitemid) %}
					{% for sentence in sentences|filter(s=>s.paragraphid==paragraph.paragraphid and s.collectionitemid==collectionItem.collectionitemid) %}
					{% set pali=collectionItem.nodeid in paliTranslations|keys ? paliTranslations[collectionItem.nodeid]|filter(t=>t.sentenceid==sentence.sentenceid) : "" %}
					{% set other=collectionItem.nodeid in otherTranslations|keys ? otherTranslations[collectionItem.nodeid]|filter(t=>t.sentenceid==sentence.sentenceid)  : "" %}
					{% set sentenceComments=comments|filter(c=>c.sentenceid==sentence.sentenceid) %}
					{% set comment1=sentenceComments|filter(c=>c.forprint==1)|first %}
					{% set comment2=sentenceComments|filter(c=>c.forprint==2)|first %}
					{% set comment3=sentenceComments|filter(c=>c.forprint==3)|first %}
					{% set comment4=sentenceComments|filter(c=>c.forprint==4)|first %}
					{% if other|length>0 and pali|length>0 %}
						<tr>
						<td>
							{% if comment1 or comment2 %}
							<small>{% if comment1 %}{{comment1.commenttext}}{% endif %}{% if comment2 %}{{comment2.commenttext}}{% endif %}</small>{%if comment1 %}<br/>{% endif %}
							{% endif %}						
							{{ pali|length>0 ? (pali|first).translation|raw : sentence.sentencetext|raw }}
							{% if comment3 or comment4 %}
							{%if comment3%}<br/>{% endif %}<small>{% if comment3%}{{comment3.commenttext}}{% endif %}{% if comment4 %}{{comment4.commenttext}}{% endif %}</small>
							{% endif %}		
						</td>
						<td>
							{{ other|length>0 ? (other|first).translation : "" }}
						</td>
						</tr>
					{% endif %}
					{% endfor %}
				{% endfor %}
			{% endif %}
		{% endfor %}
	</table>
{% endblock %}