{% extends 'base.html.twig' %}
{% set page='toc' %}
{% block title %}
{% trans %}Collections{% endtrans %}
{% endblock %}
{% block content %}
{% set tocPage='collections' %}
{{ include(app.request.cookies.get('mobile') ? '_toc_navigation_mobile.html.twig' : '_toc_navigation.html.twig') }}
{% if is_granted(editorRole) %}   
<a href="{{ path('collection_edit') }}">{% trans %}New collection{% endtrans %}</a>
{% endif %} 
<div><a href="{{ path('collections_list') }}">{% trans %}Top{% endtrans %}</a></div>
<ul style="margin-top:0px">
{% for collection in collections %}
<li><a href="{{ path('collection_view',{collectionid: collection.collectionitemid}) }}">{{ collection.name }}</a>
{% if is_granted(editorRole) %}   
<a href="{{ path('collection_edit',{itemid: collection.collectionitemid}) }}">({% trans %}Edit{% endtrans %})</a>	
<a href="{{ path('collection_item_names',{itemid: collection.collectionitemid}) }}">({% trans %}Edit names{% endtrans %})</a>
{% endif %} 
</li>
{% endfor %}
</ul>
{% endblock %}