{% extends 'base.html.twig' %}
{% block meta %}
{% if comments|length==0 %}
<meta name="robots" content="noindex,nofollow" />{% endif %}
{% endblock %}
{% block title %}Comments{% endblock %}
{% block content %}
<div>
{{ include('_translation_node_path.html.twig') }}
{% if paragraphid %}
&gt;&gt;
<a href="{{ path('view_paragraph',{id: paragraphid}) }}">{% trans %}paragraph{% endtrans %}</a>
{% endif %}
{% if nodeid %}
&gt;&gt;
<a href="{{ path('table_view',{id: nodeid, _fragment: "sent#{sentenceid}"}) }}">{% trans %}Table view{% endtrans %}</a>
{% endif %}
</div>

<table class="bordercell" style="width:100%">
<tr>
<td>
{% trans %}Pali{% endtrans %}
</td>
<td>
{{ sentenceText }}
</td>
</tr>
{% for translation in translations %}
<tr>
<td>{{ translation.sourcename }}</td>
<td>{{ translation.hasformatting ? translation.translation | raw : translation.translation }}</td>
</tr>
{% endfor %}
</table>
{% for commentItem in comments %}
<div><a name="c{{ commentItem.CommentID}}"></a><b>{% trans %}Comment submitted{% endtrans %}</b> {{ commentItem.CreatedDate|date("d.m.Y H:i")}}
{% if commentItem.AuthorName %}
 <b>{% trans %}by{% endtrans %}</b> {{ commentItem.AuthorName}}
{% endif %}	
{% if commentItem.AuthorID==userid or is_granted(adminRole) %}
<a href="{{ path('comment_delete',{commentid: commentItem.CommentID, 'return': return}) }}">{% trans %}Delete{% endtrans %}</a>
{% endif %}
</div>
<div>
{% if commentItem.allowcommentshtml and '<' in commentItem.CommentText %}
{{ commentItem.CommentText|raw}}
{% else %}
{{ commentItem.CommentText|converturls|nl2br}}
{% endif %}
</div>
<hr>
{% endfor %}
{% if is_granted(userRole) %}
    {{ form_start(form) }}
    <b>{% trans %}Comment{% endtrans %}</b><br>
    {{ form_widget(form.comment,{"attr" : {"rows": 5,"cols" : 60,"maxlength": 2000 }}) }}<br>
    {{ form_widget(form.submit,{'label' : 'Save'}) }}
    {{ form_end(form) }}
{%  endif %}
{% endblock %}