{% extends 'base.html.twig' %}
{% set page='default' %}
{% block title %}{% trans %}Home{% endtrans %}{% endblock %}
{% block content %}{% set mobile= app.request.cookies.get('mobile') %}
   <br><center>{% trans %}Top links{% endtrans %}&nbsp;<a href="{{ path('mobile_ui') }}">{{ (mobile=="1" ? "ui_desktop" : "ui_mobile")|trans }}</a></center>
{% trans %}Introduction{% endtrans %}
<table style="width:100%">
<tr>
<td style="width:{{ mobile ? 100 : 80}}%;vertical-align: top">
<h3>{% trans %}Latest updates{% endtrans %}</h3>
    <table style="width:100%">
    {% for lastItem in lastupd %}
    <tr{% if loop.index % 2 ==0 %} style="background-color:LightGrey"{% endif %}>
    <td>
    {{ lastItem.updated|date('Y-m-d H:i:s') }}
    </td>
    <td>
    <small>{{ lastItem.textpath }}</small>
    </td>
    <td>
    {% set route=lastItem.TranslationSourceID ? 'translation_view' : (lastItem.HasTableView ? 'table_view' : 'view_node') %}
    {% set suffix=lastItem.TranslationSourceID ? '/transl' : '/table' %}
    <a href="{{ lastItem.urlfull ? lastItem.urlfull ~ suffix :  path(route,{id: lastItem.nodeid}) }}">{{ lastItem.trname ?? lastItem.title }}</a>
    </td>
    </tr>
    {% endfor %}
    </table>
    <a href="{{ path("translations_feed") }}"><img src="{{ asset("feed.svg") }}"/>RSS</a>
</td>
{% if mobile %}</tr><tr>{% endif %}
<td style="vertical-align: top;{{ mobile ? 'width:100%' : ''}}">
<h3>{% trans %}New comments{% endtrans %}</h3>
    {% for comment in comments %}
    <div>
    <a href="{{ comment.urlfull ? (comment.urlfull~ '/s/' ~ comment.sentenceid) : path('comments',{sentenceid: comment.sentenceid, _fragment: "c#{comment.commentid}"}) }}">{{comment.trname ?? comment.title}}</a>
    <div>{{comment.CommentText|shorten }}</div>
    <div><small>
    {% if comment.DaysAgo==0 %}
    {% trans %}Today{% endtrans %}
    {% else %}
    {{comment.DaysAgo}} {% trans %}DaysAgo{% endtrans %}
    {% endif %}
    </small></div>
    </div>    
    {%endfor%}
    {% if app.user %}
    <div><br/><a href="{{ path('comments_list_all',{pageid: 0}) }}">{% trans %}All comments{% endtrans %}</a></div>
    {% endif %}
    <a href="{{ path("comments_feed") }}"><img src="{{ asset("feed.svg") }}"/>RSS</a>
</td>
</tr>
</table>
<center>{% trans %}Views{% endtrans %}: {% trans %}Thirty days{% endtrans %}: {{ viewCount.totalViews }} {% trans %}Today{% endtrans %}: {{ viewCount.dayViews }}</center>
{% endblock %}