{% extends 'base.html.twig' %}

{% block title %}{% trans %}Log in!{% endtrans %}{% endblock %}
{% set page='user' %}
{% block content %}
{% if registrationEnabled %}
<br>
{% trans %}Not registered{% endtrans %} <a href="{{ path("register") }}">{% trans %}RegisterAccount{% endtrans %}</a>.
{% endif %}
<form method="post">
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">{% trans %}Logout{% endtrans %}</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">{% trans %}Please sign in{% endtrans %}</h1>
    <table>
    <tr>
    <td>
    <label for="inputUsername">{% trans %}Username{% endtrans %}</label>
    </td>
    <td>
    <input type="text" value="{{ last_username }}" name="_username" id="inputUsername" class="form-control" required autofocus>
    </td>
    </tr>
    <tr>
    <td>
    <label for="inputPassword">{% trans %}Password{% endtrans %}</label>
    </td>
    <td>
    <input type="password" name="_password" id="inputPassword" class="form-control" required>
    </td>
    </tr>
	</table>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit">
        {% trans %}Sign in{% endtrans %}
    </button>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
</form>
{% endblock %}
