{% extends 'base.html.twig' %}
{% set showT=false %}
{% block title %}{{ paragraph.nodetitle }}{% endblock %}
{% block navigation %}
{% if view_settings.printview is empty %}
{{ include('_navigation.html.twig') }}
{% endif %}
{% endblock %}
{% block content %}
{% if view_settings.printview is empty %}
{{ include('_translation_node_path.html.twig') }}
{{ include('_view_settings.html.twig') }}
{% endif %}
<table>
{{ include('_paragraph.html.twig') }}
</table>
<p>{{ origsentencetext|raw }}</p>

{% if analysisResults|length>0 %}
    <table class="bordercell" style="width:100%">
    <tr>
    <td style="width:50%">{% trans %}Pali{% endtrans %}</td>
    <td style="width:50%">{% trans %}Translation{% endtrans %}</td>
    <td></td>
    </tr>
    {% for analysisResult in analysisResults %}
    <tr>        
		<td>{{ analysisResult.sentencetext|highlight(origsentencetext,true)|raw }}</td>
		<td>{{ analysisResult.translation }}</td>
		<td><a href="{{ path('view_paragraph',{id: analysisResult.paragraphid}) }}">{% trans %}View{% endtrans %}</a></td>      
    </tr>
    {% endfor %}
    </table>
{% endif %}
{% endblock %}