{% extends 'base.html.twig' %}
{% block title %}quote code{% endblock %}
{% block content %}
<p>{% trans %}CodeNotice{% endtrans %}</p>
{% if function_name=='getSentenceTranslation' %}
	{{ form_start(form) }}
	<p>{{ form_label(form.rows,'Rows') }}:{{ form_widget(form.rows,{"attr" : {"style" : "width: 100px" }}) }} {{ form_widget(form.update,{'label': 'Update'}) }}</p>
	{{ form_end(form) }}
{% endif %}

{% if ids|length>0 %}
{% trans %}url of this passage{% endtrans %}: <a href="{{ url('quote_sentences',{sentenceid: sentenceid,length: ids|length}) }}">{{ url('quote_sentences',{sentenceid: sentenceid,length: ids|length}) }}</a>
{% endif %}
<textarea rows="5" style="width:100%">
{% autoescape 'html' %}
<a href="{{ url('view_paragraph',{id: paraid}) }}">{{ title }}</a>
<blockquote class="{{ class_key }}{{ (ids|first).id }}"></blockquote>
<script src="{{ absolute_url(asset('quote.js')) }}" type="text/javascript"></script>
<script type="text/javascript">{{ function_name }}("{{ class_key }}{{ (ids|first).id }}","{% for id in ids %}{% if loop.index0!=0 %},{% endif %}{{ id.id }}{% endfor %}","{{ url('index') }}");</script>
{% endautoescape %}
</textarea>

{% trans %}preview{% endtrans %}<br/>
<a href="{{ url('view_paragraph',{id: paraid}) }}">{{ title }}</a>
<blockquote class="{{ class_key }}{{ (ids|first).id }}"></blockquote>
<script src="{{ asset('quote.js') }}" type="text/javascript"></script>
<script type="text/javascript">{{ function_name }}("{{ class_key }}{{ (ids|first).id }}","{% for id in ids %}{% if loop.index0!=0 %},{% endif %}{{ id.id }}{% endfor %}","{{ url('index') }}");</script>
{% endblock %}