{% extends 'base.html.twig' %}
{% set page='search' %}
{% block title %}{% trans %}search{% endtrans %}{% endblock %}
{% block content %}
{{ form_start(form) }}
<table>
<tr>
<td style="width:220px">
{{ form_label(form.searchString, 'SearchFieldLabel') }}
</td>
<td>
{{ form_widget(form.searchString) }}
{{ include('_palibox.html.twig',{searchControlId: 'form_searchString'}) }}
{% if searchError %}
<span style="color:red">{% trans %}SearchStringError{% endtrans %}</span>
{% endif %}
</td>
</tr>
<tr>
<td>
{{ form_label(form.scopeChoice, 'ScopeLabel') }}
</td>
<td>
{{ form_widget(form.scopeChoice[0]) }}{{ form_label(form.scopeChoice[0], 'table of contents') }}<br>
{{ form_widget(form.scopeChoice[1]) }}{{ form_label(form.scopeChoice[1], 'text') }}<br>
{{ form_widget(form.scopeChoice[2],{"attr": {(bookmarks is empty ? 'disabled' : 'style') : (bookmarks is empty ? 'disabled' : '') }}) }}{{ form_label(form.scopeChoice[2], 'bookmarks') }}
{% if not bookmarks is empty %}
<a href="{{ path("bookmarks") }}">{% trans %}View{% endtrans %}</a>
{% endif %}
</td>
</tr>
<tr>
<td style="width:100px">
{{ form_label(form.lang, 'Language') }}:
</td>
<td>
{{ form_widget(form.lang) }}
</td>
</tr>
<tr>
<td>
{{ form_label(form.inTranslated, 'In translated') }}:
</td>
<td>
{{ form_widget(form.inTranslated) }}
</td>
</tr>
<tr>
<td>
{{ form_label(form.searchMode, 'Search mode') }}:
</td>
<td>
{{ form_widget(form.searchMode) }}
</td>
</tr>
</table>
{{ form_widget(form.search, {'label': 'SearchButton'}) }}
<a href="{{ path('search') }}">{% trans %}New search{% endtrans %}</a> 
{{ form_end(form) }}
{% if scope=='toc' %}
    {% if searchItems|length==0 %}
    <p style="color:red">{% trans %}No results{% endtrans %}</p>
    {% endif %}
    <table style="width:100%">
    {% for node in searchItems %}
        <tr {% if loop.index % 2 ==0 %}style="background-color:LightGrey"{% endif %}>
        <td>{{ loop.index }}</td>
        <td style="width:250px">
        {% if node.canview %}
        <a href="{{ path('view_node', {id: node.nodeid}) }}">({% trans %}View{% endtrans %})</a>
        {% endif %}
        </td>
        <td style="width:100px">
        <a href="{{ path('bookmark_node_add', {id: node.nodeid}) }}">({% trans %}Bookmark{% endtrans %})</a>
        </td>
        <td style="width:100px"><small>{{ node.textpath }}</small></td>
        <td>{{ node.title|highlight(searchString)|raw }}</td>
        </tr>
    {% endfor %}
    </table>
{% endif %}
{% if scope=='text' or scope=='bkm' %}
    {% if searchItems|length==0 %}
    <p style="color:red">{% trans %}No results{% endtrans %}</p>
    {% endif %}
    {% if language==0 and inTranslated==0 %}
        <table style="width:100%">        
        {% for paragraph in searchItems %}        	
            <tr {% if loop.index % 2 ==0 %}style="background-color:LightGrey"{% endif %}>
            <td style="width:20px">{{ loop.index }}</td>
    		<td style="width:50px">
    			<a href="{{ paragraph.urlfull ? (paragraph.urlfull ~ "/p/" ~ paragraph.paragraphid) : path('view_paragraph', {id: paragraph.paragraphid}) }}">{% trans %}View{% endtrans %}</a>{% if paragraph.hastranslation%}&nbsp;T{% endif %}		
    		</td>
            <td style="width:100px"><a href="{{ path('bookmark_paragraph_add', {id: paragraph.paragraphid}) }}">{% trans %}Bookmark{% endtrans %}</a></td>        
    	    <td style="width:100px"><small>{{ paragraph.textpath }}</small></td>
    	    <td style="width:40%">
    	    	<p class="{{ paragraph.paragraphTypeName }}">
                {% if not paragraph.paranum is empty %}
                <span class="paranum">{{ paragraph.paranum }}</span><span class="dot">.</span>
                {% endif %}  
                {{ paragraph.text|capitalize(paragraph.caps)|highlight(searchString,0,ignorediac)|raw }}
                </p>
    		</td>
    		<td>
    		{% if paragraph.paragraphid in translations|keys %}
	    		{% for translation in translations[paragraph.paragraphid] %}
	    		{{ translation }}
	    		{% endfor %}
    		{% endif %}
    		</td>
            </tr>
        {% endfor %}    
        </table>
    {% else %}
    	<table style="width:100%">
        {% for translationItem in searchItems %}
            <tr {% if loop.index % 2 ==0 %}style="background-color:LightGrey"{% endif %}>
            <td style="width:20px">{{ loop.index }}</td>
    		<td style="width:50px">
    			<a href="{{ translationItem.urlfull ? (translationItem.urlfull ~ "/p/" ~ translationItem.paragraphid) : path('view_paragraph', {id: translationItem.paragraphid}) }}">{% trans %}View{% endtrans %}</a>	
    		</td>
            <td style="width:100px"><a href="{{ path('bookmark_paragraph_add', {id: translationItem.paragraphid}) }}">{% trans %}Bookmark{% endtrans %}</a></td>        
    	    <td style="width:100px"><small>{{ translationItem.textpath }}</small></td>
    	    <td style="width:40%">
    	    {% if language==0 %}{{ translationItem.sentencetext|highlight(searchString)|raw  }}{% else %}{{ translationItem.sentencetext }}{% endif %}
    	    </td>
    	    <td>
    	    <p>{% if language==0 %}{{ translationItem.translation }}{% else %}{{ translationItem.translation|highlight(searchString)|raw }}{% endif %}</p>
    		</td>
            </tr>
        {% endfor %}  	    
    	</table>
    {% endif %}
{% endif %}
{% endblock %}
