{% extends 'base.html.twig' %}
{% set page='dictionary' %}
{% block title %}{{ term }}{% endblock %}
{% block content %}
<div>{% trans %}Location{% endtrans %} <a href="{{ path('dictionary') }}">{% trans %}dictionary{% endtrans %}</a> &gt;&gt; {{ term }}</div>
{% if tags|length>0 or is_granted(editorRole) %}
	<table style="width:100%">
	<tr>
	<td style="width:100px">
	{% trans %}Tags{% endtrans %}:
	{% if is_granted(editorRole) %}
	 (<a href="{{ path('paliword_tags',{paliword: term }) }}">{% trans %}Edit{% endtrans %}</a>)<br/>
	{% endif %}		
	</td>
	<td>
	{% if tags|length>0 %}
		<table style="width:100%">
		{% for tag in tags %}
		<tr>
		<td style="width:200px"><a href="{{ path('dictionary',{tagid: tag.tagid}) }}">{{ tag.title }}</a>:</td>
		<td>
		{% for tagPaliword in tagPaliwords|filter(tp=>tp.tagid==tag.tagid) %}
			{% if tagPaliword.paliword== term %}
				{{ tagPaliword.paliword }}
			{% else %}
				<a href="{{ path('term',{word: tagPaliword.paliword}) }}">{{ tagPaliword.paliword }}</a>
			{% endif %}
		{% endfor %}
		</td>
		</tr>
		{% endfor %}
		</table>
	{% endif %}
	</td>
	</tr>
	</table>
{% endif %}

{% if nodes|length>0 %}
{% trans %}Texts tagged with{% endtrans %} '{{ term }}':
    <ul>
    {% for node in nodes %}
        <li>
        {% if node.canview %}
            {% if node.HasTableView or not node.haschildnodes %}
                {% set route=node.TranslationSourceID ? 'translation_view' : (node.HasTableView ? 'table_view' : 'view_node') %}
                {% set label=node.TranslationSourceID ? 'translation'|trans : (node.HasTableView ? 'table'|trans : 'fragments'|trans) %}
                <a href="{{ path(route, {id: node.nodeid}) }}">{{ node.trname ?? node.title }}</a>
            {% else %}
                <a href="{{ path('view_node',{id: node.nodeid }) }}">{{ node.trname ?? node.title }}</a>
            {% endif %}
        {% else %}
            {{ node.trname ?? node.title }}
        {% endif %}
    </li>
    {% endfor %}
	</ul>
{% endif %}
{% for entry in entries %}
<h3 style="margin:3px">{{ entry.name }}
{% if is_granted(editorRole) %}
<a href="{{ path('dictionaryentry_edit', {entryid: entry.dictionaryentryid}) }}">{% trans %}Edit{% endtrans %}</a>
{% endif %}</h3>
{% if entry.translation %}<b>{% trans %}Translation{% endtrans %}</b> {{ entry.translation }}<br>{% endif %}
{{ entry.explanation|raw }}
{% set explanation=termExplanations|filter(te=>te.dictionaryentryid==entry.dictionaryentryid)|first  %}
{% if explanation %}
	<div>
	<b>{% trans %}Explanation{% endtrans %}:</b>
	{% for paragraph in explanation.paragraphs %}
	<div>
	<a href="{{ path('view_paragraph', {id: paragraph.paragraphid}) }}">{{ paragraph.title }}</a><br>
	{% set translations=explanation.translations|filter(t=>t.paragraphid==paragraph.paragraphid)%}
	{% for translationItem in translations %}	
		{{ translationItem.translation }}<br>
	{% endfor %}
	</div>
	{% endfor %}
	</div>
{% endif %}
{% if is_granted(editorRole) %}
<a href="{{ path('dictionaryentryuse_edit', {entryid: entry.dictionaryentryid}) }}">{% trans %}Add use{% endtrans %}</a>
{% endif %}
{% set entryUses=uses|filter(u=>u.dictionaryentryid==entry.dictionaryentryid) %}
{% if entryUses|length>0 %}
<br>
<div>
<b>{% trans %}Example usage{% endtrans %}:</b> 
<table class="bordercell" style="width:100%">
<tr>
<td></td>
<td></td>
<td>{% trans %}pali word{% endtrans %}</td>
<td>{% trans %}translation{% endtrans %}</td>
{% if is_granted(editorRole) %}<td></td>{% endif %}
</tr>
{% for use in entryUses %}
<tr>
<td>
<a href="{{ path('view_paragraph', {id: use.paragraphid}) }}">{{ use.title }}</a><br>
{{ use.sentencetext }}</td>
<td>{{ use.sentencetranslation }}</td>
<td>{{ use.paliword }}</td>
<td>{{ use.translation }}</td>
{% if is_granted(editorRole) %}<td><a href="{{ path('dictionaryentryuse_edit', {useid: use.useid}) }}">{% trans %}Edit{% endtrans %}</a></td>{% endif %}
</tr>
{% endfor %}
</table>
</div>
{% endif %}
<hr>
{% endfor %}
{% endblock %}