{% extends 'base.html.twig' %}
{% block title %}Import translation{% endblock %}
{% block content %}
{{ form_start(form) }}
{{ form_row(form.importFile,{'label': 'ImportFileUpload'}) }}
{{ form_row(form.importText,{'label': 'ImportText',"attr" : {"style" : "width: 100%", "rows": 5 }}) }}
{% if form.author is defined %}
{{ form_label(form.author, 'authorName') }}: {{ form_widget(form.author) }}<br>
{% endif %}
{{ form_label(form.paliskip, 'paliskip') }}: {{ form_widget(form.paliskip,{'attr' : {'style' : 'width:100px'}}) }}<br>
{{ form_widget(form.save,{'label': 'Save'}) }}
<a href="{{ path('table_view',{id: nodeid}) }}">{% trans %}Cancel{% endtrans %}</a>
{{ form_end(form) }}
{% endblock %}