{% extends 'base.html.twig' %}
{% block title %}Translate{% endblock %}
{% block content %}
{{ sentenceText }}
<br><br>
{{ form_start(form) }}
{{ form_label(form.source, 'Source') }} {{ form_widget(form.source) }}<font color="red">{{ message }}</font><br>
{% if is_granted(editorRole) %}
{{ form_label(form.author, 'authorName') }}: {{ form_widget(form.author) }}<br>
{% endif %} 
{{ form_label(form.translation, 'Translation') }}<br>
{{ form_widget(form.translation,{"attr" : {"style" : "width: 100%", "rows": 8 }}) }}<br>
{# {{ form_label(form.parenttranslationid, 'Parent translation id') }}{{ form_widget(form.parenttranslationid) }}<br> #}
{{ form_widget(form.save,{'label': 'Save'}) }} {{ form_widget(form.saveAndNext,{'label': 'SaveAndEditNext'}) }}
<a href="{{ cancelUrl }}">{% trans %}Cancel{% endtrans %}</a>
{{ form_end(form) }}
{% endblock %}